<div class='header'>
    <div class='header-title'>
        <div class='header-title-left'>
            <i class="fas fa-search icon-header"></i>
        </div>
        <div class='header-title-center'>
            <span class='title-header text-uppercase'>Atelier</span>
        </div>
        <div  class='header-title-right'>
            <i class="fas fa-shopping-cart mx-3 icon-header"></i>
            <i class="fas fa-user-alt mx-2 icon-header"></i>
        </div>
    </div>
    <div class='header-menu text-center mt-2'>
        <span>Odzlez <i class="fas fa-angle-down ms-1"></i></span>
        <span>Akcesoria <i class="fas fa-angle-down ms-1"></i></span>
        <span>Nowascl</span>
        <span>Promocje</span>
    </div>
</div>
<div class='page'>
    <div class='banner'>
        <%= image_tag "banner.webp", alt: 'Image', class: 'banner-image'%>
    </div>
    <div class='path-product'>
        <div class='path-product-left'>
            <span class='text-path'>Akcesoria<i class="fas fa-chevron-right mx-3"></i> Okulary <i class="fas fa-chevron-right mx-3"></i> Przeciwsionezcne</span>
        </div>
        <div class='path-product-right'>
           <div class='border rounded-pill px-3 py-2'>
                <span class='text-path'>Sortuj wedlug <i class="fas fa-angle-down ms-1"></i><span>
           </div>
        </div>
    </div>
    <div class='product mt-5'>
         <div class="container">
            <div class="row g-1">
                <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center"> <%= image_tag "product.jpg", alt: 'Image', class:'product-image'%></div>
                        <div class="product-details"> <span class="font-weight-bold d-block">$ 7.00</span> <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                            </div>
                            <div class="weight"> <small>1 piece 2.5kg</small> </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center"> <%= image_tag "product.jpg", alt: 'Image', class:'product-image'%></div>
                        <div class="product-details"> <span class="font-weight-bold d-block">$ 7.00</span> <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                            </div>
                            <div class="weight"> <small>1 piece 2.5kg</small> </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center"> <%= image_tag "product.jpg", alt: 'Image', class:'product-image'%></div>
                        <div class="product-details"> <span class="font-weight-bold d-block">$ 7.00</span> <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                            </div>
                            <div class="weight"> <small>1 piece 2.5kg</small> </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center"> <%= image_tag "product.jpg", alt: 'Image', class:'product-image'%></div>
                        <div class="product-details"> <span class="font-weight-bold d-block">$ 7.00</span> <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                            </div>
                            <div class="weight"> <small>1 piece 2.5kg</small> </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center"> <%= image_tag "product.jpg", alt: 'Image', class:'product-image'%></div>
                        <div class="product-details"> <span class="font-weight-bold d-block">$ 7.00</span> <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                            </div>
                            <div class="weight"> <small>1 piece 2.5kg</small> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center"> <%= image_tag "product.jpg", alt: 'Image', class:'product-image'%></div>
                        <div class="product-details"> <span class="font-weight-bold d-block">$ 7.00</span> <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                            </div>
                            <div class="weight"> <small>1 piece 2.5kg</small> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center"> <%= image_tag "product.jpg", alt: 'Image', class:'product-image'%></div>
                        <div class="product-details"> <span class="font-weight-bold d-block">$ 7.00</span> <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                            </div>
                            <div class="weight"> <small>1 piece 2.5kg</small> </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center"> <%= image_tag "product.jpg", alt: 'Image', class:'product-image'%></div>
                        <div class="product-details"> <span class="font-weight-bold d-block">$ 7.00</span> <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                            </div>
                            <div class="weight"> <small>1 piece 2.5kg</small> </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center"> <%= image_tag "product.jpg", alt: 'Image', class:'product-image'%></div>
                        <div class="product-details"> <span class="font-weight-bold d-block">$ 7.00</span> <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                            </div>
                            <div class="weight"> <small>1 piece 2.5kg</small> </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center"> <%= image_tag "product.jpg", alt: 'Image', class:'product-image'%></div>
                        <div class="product-details"> <span class="font-weight-bold d-block">$ 7.00</span> <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                            </div>
                            <div class="weight"> <small>1 piece 2.5kg</small> </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center"> <%= image_tag "product.jpg", alt: 'Image', class:'product-image'%></div>
                        <div class="product-details"> <span class="font-weight-bold d-block">$ 7.00</span> <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                            </div>
                            <div class="weight"> <small>1 piece 2.5kg</small> </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center"> <%= image_tag "product.jpg", alt: 'Image', class:'product-image'%></div>
                        <div class="product-details"> <span class="font-weight-bold d-block">$ 7.00</span> <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                            </div>
                            <div class="weight"> <small>1 piece 2.5kg</small> </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center"> <%= image_tag "product.jpg", alt: 'Image', class:'product-image'%></div>
                        <div class="product-details"> <span class="font-weight-bold d-block">$ 7.00</span> <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                            </div>
                            <div class="weight"> <small>1 piece 2.5kg</small> </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center"> <%= image_tag "product.jpg", alt: 'Image', class:'product-image'%></div>
                        <div class="product-details"> <span class="font-weight-bold d-block">$ 7.00</span> <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                            </div>
                            <div class="weight"> <small>1 piece 2.5kg</small> </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center"> <%= image_tag "product.jpg", alt: 'Image', class:'product-image'%></div>
                        <div class="product-details"> <span class="font-weight-bold d-block">$ 7.00</span> <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                            </div>
                            <div class="weight"> <small>1 piece 2.5kg</small> </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center"> <%= image_tag "product.jpg", alt: 'Image', class:'product-image'%></div>
                        <div class="product-details"> <span class="font-weight-bold d-block">$ 7.00</span> <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                            </div>
                            <div class="weight"> <small>1 piece 2.5kg</small> </div>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
    </div>
    <div class='paginate'>
        <div><i class="fas fa-chevron-left rounded-circle"></i><span class="rounded-circle">1</span><span class="rounded-circle">2</span><span class="rounded-circle">3</span><span class="rounded-circle">4</span><span>...</span><span>23</span><i class="fas fa-chevron-right"></i></div>
    </div>
</div>
<div class='footer'>
  <div class="row align-items-start row-footer">
    <div class="col">
        <p class='title-footer'>POMOC</p>
        <p class='text-footer'>Dostawa</p>
        <p class='text-footer'>PIatnosc</p>
        <p class='text-footer'>Zwroty</p>
    </div>
    <div class="col mt-5">
        <p class='text-footer'>Regulamin</p>
        <p class='text-footer'>FAQ</p>
    </div>
    <div class="col">
        <p class='title-footer'>MOJE KONTO</p>
        <p class='text-footer'>Moje zamowienia</p>
        <p class='text-footer'>Ustawienia konta</p>
        <p class='text-footer'>Przechowalnia</p>
    </div>
    <div class="col">
        <p class='title-footer'>NEWSLETTER</p>
        <p class='text-footer'>e-mail</p>
        <hr/>
        <p class='text-white'>Zapisz mnie</p>
    </div>
    <div class="col">
        <p class='title-footer'>KONTAKT</p>
        <p class='text-footer'>+48 796 178 554</p>
        <p class='text-footer'>granashop@gmail.com</p>
    </div>
  </div>
  <div class='footer-contact'>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-skype"></i>
  </div>
</div>